<b>
  <% if message.collaborator.id == message.negotiation.seller_id %>
    <span, style ='color:darkgreen'>
  <% else %>
    <span, style ='color:darkred'>
  <% end %>
  <%= message.collaborator.name.split.first[0,10] %></span>:
</b>

<%= message.text %><br>
