/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.prod-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border: solid 1px violet;
  border-radius: 10px;
  float: left;
  margin-right: 5px;
}

.prod-card:hover {
  padding: 0px;
  border: solid 3px purple;
}

.prod-card:active {
  background-color: grey;
}

.prod-name {
  font-weight: bold;
  display: center;
  height: 100%;
  width: 100%;

  text-decoration: none;
  text-align: center;
  font-size: 110%;
  color: black;
}

.seller {
  font-size: 90%;
  color: darkred;
}

.price-tag {
  border: solid 2px green;
  background-color: limegreen;
  border-radius: 5px;
  text-decoration: none;
}

.price-tag:hover, .price-tag:active {
  background-color: green;
}

.mini-desc {
  font-size: 90%;
  font-weight: normal;
  color: black;
  text-decoration: none;
}
