<p><%= link_to 'Voltar', collaborator_path(current_collaborator) %></p>

<% if not(current_collaborator.profile_filled?) %>
Para fazer um anúncio, você deve primeiro <%= link_to 'completar o seu perfil',
                                          edit_collaborator_path(current_collaborator),
                                          class: 'css_class', style: 'color:red' %>.
<% else %>
  <h2>Criando seu anúncio</h2>

  <%= render partial: 'form', locals: {product: @product, product_categories: @product_categories} %>

<% end %>
